<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Title</title>
    </head>
    <body>
    <h1>Login</h1>

    <div th:if="${error}">
        Unable to login. Check your username and password.
    </div>

    <p>New here? Click
        <a th:href="@{/register}">here</a> to register.</p>
        <form method="POST" th:action="@{/login}" id="loginForm">

            <label for="username">Username: </label>
            <input type="text" name="username" id="username" /><br/>

            <label for="password">Password: </label>
            <input type="password" name="password" id="password" /><br/>

            <input type="submit" value="Login"/>

        </form>
    </body>
</html>